.page-container{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    line-height: 2;
    margin-left: 25px;
}
.page-item{
    background-color: rgb(255, 255, 255);
    border: black 3px solid; 
    color: rgb(0, 39, 39); 
    transition: all .2s ease;
    vertical-align: middle;
    width: 300px; 
}
p{
    line-height: 1;
}
/*comment*/